<div id="right">

  Ways of Voting:
  <p> 1. You may click on the <%= image_tag "up.jpeg" %> (vote up: <b>10ct</b>) or <%= image_tag "down.jpeg" %> (vote
    down:
    <b>20ct</b>) on the leaderboard on the left.
  </p>

  <form action="/create">

    <input name="investment[name]" type="text" id="form">
    <span id="form_valid"></span>

  </form>


  <p> 2. You may enter the name of a stock yourself if it is not trending but you would like to see represented


  </p>


  <form action="/invest">

    <table>
      <% 5.times do |i| %>
          <tr>
            <td>

              <%= @arr[i] %>:
            </td>

            <td>

              <select class="op1">
                <option value="blank"></option>
                <% ('A'..'Z').each do |l| %>
                    <%= raw %Q{<option class="op11" value="#{l}">#{l}</option>"} %>

                <% end %>

              </select>
              &nbsp;&nbsp;&nbsp;

              <select class="op2" name="investments[<%= i %>]">
                <option value="blank"></option>
              </select>
            </td>
            <td>


              Give  <%= 6-i %> votes
            </td>
          </tr>
      <% end %>

    </table>
    <input type="submit">
  </form>


  <p> 3. You may choose and rank any 5 stocks in order of interest to give them multiple votes for only
    <b>ONE dollar</b> (!):
  </p>

  <p id="notes">
    When you are done with all FIVE choices - please click: (Button)


    TIPS: - If you don’t know much about stocks, don’t worry - you can look them up in our stock viewer, Just click
    the button on the right.
    - If you would like ot know what other people are thinking - Join our chat! Just click the button on the bottom.
    <br/>

  </p>

  <p align="right">
    Authors: {<a href="http://twitter.com/ffmaer">Tengchao Zhou</a>, <a href="http://twitter/yuzernaim">James Chang</a>,
    Charles (Qiwei) Jin, Sean Yeh}
  </p>
</div>