<div id="left">
  <h1>Leaderboard</h1>

  <div id="leaderboard">
    <table>

      <tr>

        <td colspan="2">STOCK NAME |</td>
        <td colspan="3">NUMBER OF VOTES</td>
      </tr>
      <tr>

        <td colspan="5"><br/></td>
      </tr>

      <% counter = 1 %>
      <% @investments.each do |investment| %>

          <tr>
            <td>

              <%= counter %>.
            </td>
            <td>
              <%= investment.name %>


            </td>

            <td>
              <%= link_to image_tag("up.jpeg"), "investments/vote_up/#{investment.id}" %>

            </td>
            <td>
              <%= investment.vote %>

            </td>
            <td>

              <%= link_to image_tag("down.jpeg"), "investments/vote_down/#{investment.id}" %>

            </td>
          </tr>
          <% counter = counter+1 %>

      <% end %>
    </table>

  </div>
  <br/>

  <div id="recipient">

    $  <%= @project.fund %> RAISED<br/>
    RECIPIENT OF FUNDING:<br/>
    <%= @project.name %>
  </div>
</div>



<div id="right">

  Ways of Voting:
  <p> 1. You may click on the [icon] (vote up: 10ct) or [icon] (vote down: 20ct) on the leaderboard on the left.
    <%= form_for @new_investment do |f| %>
        <%= f.text_field :name %>
        <%= f.submit %>
    <% end %>
  </p>


  <p> 2. You may enter the name of a stock yourself if ti is not trending but you would like to see represented
    (10ct)

  </p>


  <form action="/invest" method="post">

    <table>
      <% 5.times do |i| %>
          <tr>
            <td>

              <%= @arr[i] %>:
              <select class="op1">
                <option value="blank"></option>
                <% ('A'..'Z').each do |l| %>
                    <%= raw %Q{<option class="op11" value="#{l}">#{l}</option>"} %>

                <% end %>

              </select>
              <select class="op2" name="investments[<%= i %>]">
                <option value="blank"></option>
              </select>

              Give  <%= 6-i %> votes
            </td>
          </tr>
      <% end %>

    </table>
    <input type="submit" value="Submit">
  </form>


  <span id="form_valid"></span>

  <p> 3. You may choose and rank any 5 stocks in order of interest to give them multiple votes for only ONE dollar (!):
  </p>


  When you are done with all FIVE choices - please click: (Button)


  TIPS: - If you don’t know much about stocks, don’t worry - you can look them up in our stock viewer, Just click
  the button on the right.
  - If you would like ot know what other people are thinking - Join our chat! Just click the button on the bottom:


</div>
<div id="days">

  <%= @project.days %>


</div>

<div id="fund">
</div>






<div id='content'>
  <div id='basic-modal'>
    <a href='#' class='basic'><%= image_tag "blank.png", :height=>"60px", :width=>"100px" %></a>
  </div>

  <div id="basic-modal-content" align="center">
    <%= render "chat" %>
  </div>

</div>



<script type="text/javascript">
    $(document).ready(function() {
        var input_value = $('#form').val();
        var s = "";

        $('.op2').attr('disabled', true);
        $('.op1').change(function() {
            var root = $(this);
            root.next('select').find('option').remove().end();
            root.next('select').attr('disabled', false);
            $.ajax({
                url: "/get_stocks/" + $(this).val(),
                cache: false,
                success: function(data) {
                    j = $.parseJSON(data);

                    $.each(j, function(key, value) {
                        //$('#op2').append("<option value=\""+key+"\">"+value+"</option>");

                        root.next('select').append(value);
                    });

                }
            });
        });


        function is_valid_stock(name, j) {
            var is_valid = false;
            $.each(j, function(key, value) {
                if (name.toUpperCase() == key) {
                    is_valid = true;
                }
            });
            return is_valid;
        }

        function check_input_changed() {
            var new_input_value = $('#form').val();
            if (new_input_value != input_value) {
                input_value = new_input_value;
                on_input_change();
            }
        }

        $(function () {
            setInterval(check_input_changed, 0.5);
        });

        function on_input_change() {
            var input_q = $('#form').val().toUpperCase();
            if (input_q.length == 0) {
                $("#form_valid").html("");
                return;
            }
            $.ajax({
                url: "/get_stocks/" + input_q,
                success: function(data) {
                    j = $.parseJSON(data);
                    if (is_valid_stock(input_q, j)) {
                        $("#form_valid").html("<img src=\"valid.gif\"></img>");
                    } else {
                        $("#form_valid").html("<img src=\"invalid.gif\"></img>");
                    }


                }
            });
        }


    });

</script>
