<%= render "left" %>
<%= render "right" %>




<div id='basic-modal'>
  <div id="content"><a href='#' class='basic-1'><%= image_tag "blank.png", :height=>"60px", :width=>"100px" %></a></div>
  <div id="content-2"><a href='#' class='basic-2'><%= image_tag "blank.png", :height=>"60px", :width=>"100px" %></a>
  </div>
</div>

<div id="basic-modal-content-1" align="center">
  <%= render "chat" %>
</div>

<div id="basic-modal-content-2" align="center">
  <%= render "check" %>
</div>


<div id="countdown" class="lcdfont big rounded">
</div>
<br />
<div id="countdown2" class="lcdfont big rounded">
</div>



<script type="text/javascript">
    $(document).ready(function() {
        var d_now = new Date();
        var new_m = d_now.getMonth() + 1;
        var new_y = d_now.getYear() + 1900;
        if (new_m > 11) {
            new_y++;
            new_m = 0;
        }

        var d_final = new Date(new_y, new_m, 0, 0, 0, 0, 0);

        // hack for now. not the actual date we will use
        var d_final2 = new Date(new_y, new_m, 14, 0, 0, 0, 0);


        var input_value = $('#form').val();
        var s = "";

        $('.op2').attr('disabled', true);
        $('.op1').change(function() {
            var root = $(this);
            root.next('select').find('option').remove().end();
            root.next('select').attr('disabled', false);
            $.ajax({
                url: "/get_stocks/" + $(this).val(),
                cache: false,
                success: function(data) {
                    j = $.parseJSON(data);

                    $.each(j, function(key, value) {
                        //$('#op2').append("<option value=\""+key+"\">"+value+"</option>");

                        root.next('select').append(value);
                    });

                }
            });
        });


        function is_valid_stock(name, j) {
            var is_valid = false;
            $.each(j, function(key, value) {
                if (name.toUpperCase() == key) {
                    is_valid = true;
                }
            });
            return is_valid;
        }

        function check_input_changed() {
            var new_input_value = $('#form').val();
            if (new_input_value != input_value) {
                input_value = new_input_value;
                on_input_change();
            }
        }

        $(function () {
            setInterval(check_input_changed, 0.5);
        });

        function on_input_change() {
            var input_q = $('#form').val().toUpperCase();
            if (input_q.length == 0) {
                $("#form_valid").html("");
                return;
            }
            $.ajax({
                url: "/get_stocks/" + input_q,
                success: function(data) {
                    j = $.parseJSON(data);
                    if (is_valid_stock(input_q, j)) {
                        $("#form_valid").html("<img src='/images/valid.gif'><input type='submit'>");
                    } else {
                        $("#form_valid").html("<img src='/images/invalid.gif'>");
                    }


                }
            });
        }

        function get_remaining_time(d) {
            var secs = Math.floor((d.getTime() - (new Date()).getTime()) / 1000);

            var days = Math.floor(secs / (24 * 60 * 60));
            if (days < 10) {
                days = "0" + days;
            }
            secs -= days * (24 * 60 * 60);

            var hours = Math.floor(secs / (60 * 60));
            if (hours < 10) {
                hours = "0" + hours;
            }
            secs -= hours * (60 * 60);

            var mins = Math.floor(secs / 60);
            if (mins < 10) {
                mins = "0" + mins;
            }
            secs -= mins * 60;

            if (secs < 10) {
                secs = "0" + secs;
            }
            return days + "<span class='small'>d </span>" + hours + "<span class='small'>h </span>" +
                    mins + "<span class='small'>m </span>" + secs + "<span class='small'>s </span>";

        }

        setInterval(function() {
            var t = get_remaining_time(d_final);
            $("#countdown").html(t);

            var t2 = get_remaining_time(d_final2);
            $("#countdown2").html(t2);
            //$("#countdown").html(days);

        }, 1000);


    });

</script>
