<%= render "left" %>
<%= render "right" %>




<div id='basic-modal'>
  <div id="content"><a href='#' class='basic-1'><%= image_tag "blank.png", :height=>"60px", :width=>"100px" %></a></div>
  <div id="content-2"><a href='#' class='basic-2'><%= image_tag "blank.png", :height=>"60px", :width=>"100px" %></a>
  </div>
</div>

<div id="basic-modal-content-1" align="center">
  <%= render "chat" %>
</div>

<div id="basic-modal-content-2" align="center">
  <%= render "check" %>
</div>






<script type="text/javascript">
    $(document).ready(function() {
        var input_value = $('#form').val();
        var s = "";

        $('.op2').attr('disabled', true);
        $('.op1').change(function() {
            var root = $(this);
            root.next('select').find('option').remove().end();
            root.next('select').attr('disabled', false);
            $.ajax({
                url: "/get_stocks/" + $(this).val(),
                cache: false,
                success: function(data) {
                    j = $.parseJSON(data);

                    $.each(j, function(key, value) {
                        //$('#op2').append("<option value=\""+key+"\">"+value+"</option>");

                        root.next('select').append(value);
                    });

                }
            });
        });


        function is_valid_stock(name, j) {
            var is_valid = false;
            $.each(j, function(key, value) {
                if (name.toUpperCase() == key) {
                    is_valid = true;
                }
            });
            return is_valid;
        }

        function check_input_changed() {
            var new_input_value = $('#form').val();
            if (new_input_value != input_value) {
                input_value = new_input_value;
                on_input_change();
            }
        }

        $(function () {
            setInterval(check_input_changed, 0.5);
        });

        function on_input_change() {
            var input_q = $('#form').val().toUpperCase();
            if (input_q.length == 0) {
                $("#form_valid").html("");
                return;
            }
            $.ajax({
                url: "/get_stocks/" + input_q,
                success: function(data) {
                    j = $.parseJSON(data);
                    if (is_valid_stock(input_q, j)) {
                        $("#form_valid").html("<img src=/images/valid.gif>");
                    } else {
                        $("#form_valid").html("<img src=/images/invalid.gif>");
                    }


                }
            });
        }


    });

</script>
