<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>
  <a href="http://venmo.com/?txn=Pay&recipients=ffmaer&amount=<%= @dollar %>&note=Donate $<%= @dollar %> to make <%= @project %> more awesome!">Donate
    $<%= @dollar %> to make <%= @project %> more awesome!</a>
</h1>
</body>
</html>