<!DOCTYPE html>
<html>
<head>
  <title>Wikifund</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery', 'application', 'jquery.simplemodal-1.4.1', 'basic', 'chat', 'jquery.cloudmine' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="container">


  <p class="notice"><%= raw notice %></p>

  <p class="alert"><%= raw alert %></p>

  <%= yield %>
</div>
</body>
</html>


